.clearfix-overflow, .clearfix{
    overflow: auto;
}

/* Nav Styles */
#main-header{
   text-align: center;
   font-family: 'Rokkitt', serif;
   font-size: 3em;
}

#main-header > a{
   color: #6A9964;
}

#main-header > a:hover{
   color: rgb(74, 106, 70);
   text-decoration: none;
}

#header-nav > .nav-item{
   border: 2px solid black;
   border-radius: 3px;
   margin: 3px;
   background-color: #6A9964;
}

#header-nav > .nav-item > a{
   color: black;
   text-decoration: underline;
}
#header-nav > .nav-item > a:hover{
   color: white;
}

#header-logo{
   height: 120px;
   margin-right: 50px;
}
/* Body Styles */
h2, h4{
    color: #6A9964;
    text-align: center;
    font-family: 'Rokkitt', serif;
}
    /* Main */
    .main{
        border-bottom: 2px solid black;
        margin: 10px auto;
        padding: 10px;
    }
    #main-img{
    width: 500px;
    float: left;
    }
    #main-p{
        text-align: center;
    }
    /* Testimonials */
    .testimonials{
        text-align: center;
    }
    .testimonial-paragraph{
        border-bottom: 1px solid grey;
    }
    q{
        margin: 10px;
    }
    .testimonial-image{
        width: 200px;
        margin: 10px;
    }
/* Footer Styles*/
footer {
    background-color: #6A9964;
    color: black;
    clear: both;
    margin-top: 10px;
}
#footer-nav > .nav-item > a{
    color: black;
    text-decoration: underline;
}
#footer-nav > .nav-item > a:hover{
    color: white; 
}

/*Media Queries*/
@media (max-width: 768px) {
   #header-logo{
       display: none;
   }
}
/* Jordan styles */
html p{
   font-size: 16px;
}
section{
   margin: 4em auto;
   padding: 5px;
   box-shadow: 0.10em 0.10em black;
   border-bottom: 0.10em solid black;
   border-bottom-width: 0.1em;
   
}
section img{
   width: 30%;
   float:left;
   box-shadow: 0.25em 0.25em 0.10em black;
}
section p{
   padding: 5px;
}
/* contact page */
aside{
   clear: both;
   margin: 5em auto;
}
#officeHours{
   float: left;
   width: 45%;
   border-right: 1px solid black
}

#location{
   float: right;
   width: 50%;
}

#locationList{
   list-style-type: none;
}