/* Nav Styles */
#main-header{
   text-align: center;
   font-family: 'Rokkitt', serif;
   font-size: 3em;
}

#main-header > a{
   color: #6A9964;
}

#main-header > a:hover{
   color: rgb(74, 106, 70);
   text-decoration: none;
}

#header-nav > .nav-item{
   border: 2px solid black;
   border-radius: 3px;
   margin: 3px;
   background-color: #6A9964;
}

#header-nav > .nav-item > a{
   color: black;
}
#header-nav > .nav-item > a:hover{
   color: white;
}

#header-logo{
   height: 120px;
   margin-right: 50px;
}
/* Body Styles */
/* Footer Styles*/
footer {
    background-color: #6A9964;
}

/*Media Queries*/
@media (max-width: 768px) {
   #header-logo{
       display: none;
   }
